<div class="content"> 
    <div class="spinner">
        <mat-spinner [diameter]="50" *ngIf="processing"></mat-spinner>
    </div>
    
    <mat-card>
        <mat-card-title>
            <h3 class="heading">Create New {{vehicleType}}</h3>
        </mat-card-title>
        <mat-card-content>
            <div appearance="outline">
                <app-common-fields [vehicleType]="vehicleType" #commonFields></app-common-fields>
                <app-car-fields *ngIf="vehicleType == vehicleTypes.CAR" #carFields></app-car-fields>
            </div>
        </mat-card-content>
        <mat-card-footer class="footer">
            <button mat-button 
            [disabled]="processing" 
                    class="mat-raised-button mat-light-blue home-btn" 
                    (click)="navigateToHome()">Home</button>
            <button mat-button 
                    [disabled]="!areFormsValid || processing" 
                    class="mat-raised-button mat-accent save-btn"
                    (click)="onCarSave()">Save</button>
        </mat-card-footer>
    </mat-card>

  </div>
  
