.spinner {
    height: 70px;
    display: flex;
    justify-content: center;
}

.heading {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    height: 60px;

    & > .home-btn {
        background-color: #03A9F4;
        width: 120px;
        height: 50px;
        margin: 1px 0px 1px 20px;
        padding: 1px 0px 1px 4  px;
    }

    & > .save-btn {
        width: 120px;
        height: 50px;
        margin: 1px 20px 1px 0px;
        padding: 1px 4px 1px 0px;
    }
}
