<div class="content">
    <h3 class="heading">List of Created Vehicles</h3>
  
    <div class="select-vehicle">
      <mat-form-field appearance="fill" class="list-vehicle-field">
        <mat-label>Select Vehicle</mat-label>
        <select matNativeControl required [ngModel]="selectedVehicleType" (ngModelChange)="OnVehicleTypeChange($event)">
          <option *ngFor="let vehicleType of vehicleTypes" [value]="vehicleType">{{vehicleType}}</option>
        </select>
      </mat-form-field>
    </div>

    <div *ngIf="selectedVehicleType == allvehicleTypes.CAR">
        <app-car-list></app-car-list>
    </div>
  
  </div>
