<div>
    <form [formGroup]="commonFieldsForm" class="common-fields">
        <mat-form-field appearance="outline">
            <mat-label>Id</mat-label>
            <input matInput formControlName="id" required/>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Vehicle Type</mat-label>
            <input matInput formControlName="type" required readonly/>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Make</mat-label>
            <input matInput formControlName="make" required />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Model</mat-label>
            <input matInput formControlName="model" required />
        </mat-form-field>

    </form>
  
</div>