<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Inhouse Areas
  </h1>
</div>

<!-- <div>
  <button class="btn btn-primary" [routerLink]="['/area-list']">Area List</button>
  <button class="btn btn-primary" [routerLink]="['/area-edit']">Area Edit</button>
</div> -->


<router-outlet></router-outlet>
