<div class="h2 d-flex justify-content-center"> Edit Area </div>

<div *ngIf="loading" class="position-fixed h-100 w-100 d-flex justify-content-center align-items-center">
    <div class="spinner-border text-info">
    </div>
</div>
<div *ngIf="isError">
  <div  class="d-flex justify-content-center alert alert-danger">{{errorMsg}}</div>
  <button *ngIf="!data" type="button" 
                  class="mx-2 px-2 btn btn-info" 
                  style="width: 100px;" 
                  [routerLink]="['/area-list']">Back to list</button>
</div>



<div>
<div *ngIf="!loading && data" class="d-flex flex-column justify-content-center">
  <form #editForm="ngForm">
        
    <div class="d-flex flex-column justify-content-center align-items-center" style="height: 450px;">
        <div class="d-flex justify-content-begin my-1 py-1" style="height: 70px; width: 700px">
            <button class="mx-2 px-2 my-1 py-1 label label-default d-flex justify-content-center" style="width: 150px;">Area: </button>  
            <input #areaname="ngModel" 
                  name="areaname" 
                  id="name" 
                  type="text" 
                  class="mx-2 px-2 my-1 py-1 d-flex align-items-center" 
                  [(ngModel)]="data.name" 
                  style="width: 300px; min-width: 300px;"
                  required>
            <div [hidden]='areaname.valid' class="alert alert-danger">Area is required</div>              
        </div>
        
        <div class="d-flex justify-content-begin my-1 py-1" style="height: 70px; width: 700px">
            <button class="mx-2 px-2 my-1 py-1 label label-default d-flex justify-content-center" style="width: 150px;">Created On: </button>  
            <label id="createdOn" class="label label-default mx-2 px-2 my-1 py-1 d-flex align-items-center" style="width: 300px;"> {{data.createdOn | date : 'medium'}}  </label>
        </div>
        <div class="d-flex justify-content-begin my-1 py-1" style="height: 70px; width: 700px">
            <button class="mx-2 px-2 my-1 py-1 label label-default d-flex justify-content-center" style="width: 150px;">Created By: </button>
            <label id="createdBy" class="label label-default mx-2 px-2 my-1 py-1 d-flex align-items-center" style="width: 300px;"> {{data.createdBy}}  </label>
        </div>
        <div class="d-flex justify-content-begin my-1 py-1" style="height: 70px; width: 700px">
            <button class="mx-2 px-2 my-1 py-1 label label-default d-flex justify-content-center" style="width: 150px;">Updated On: </button>  
            <label id="updatedOn" class="label label-default mx-2 px-2 my-1 py-1 d-flex align-items-center" style="width: 300px;"> {{data.updatedOn | date: 'medium'}}  </label>
        </div>
        <div class="d-flex justify-content-begin my-1 py-1" style="height: 70px; width: 700px">
            <button class="mx-2 px-2 my-1 py-1 label label-default d-flex justify-content-center" style="width: 150px;">Updated By: </button>  
            <label id="updatedBy" class="label label-default mx-2 px-2 my-1 py-1 d-flex align-items-center" style="width: 300px;"> {{data.updatedBy}}  </label>
        </div>
    </div>    
  </form>
    <br/>
    <div class="d-flex flex-row w-100 justify-content-between">
      <div class="d-flex justify-content-center w-50">
          <button type="button" 
                  class="mx-2 px-2 btn btn-info" 
                  style="width: 100px;" 
                  [routerLink]="['/area-list']">Back to list</button>

          <button type="button" 
                  class="mx-2 px-2 btn btn-danger" 
                  style="width: 100px;"
                  data-toggle="modal" 
                  data-target="#exampleModal">Delete</button>
                  
      </div>
      <div class="d-flex justify-content-center w-50">
          <button class="mx-2 px-2 btn btn-info" 
                  style="width: 100px;" 
                  [routerLink]="['/area-list']">Cancel</button>

          <button class="mx-2 px-2 btn btn-success" 
                  style="width: 100px;" 
                  (click)="onSave()"
                  [disabled]="areaname.pristine">Save</button>
        </div>
        
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Area</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span>Are you sure, you want to delete?</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onDelete()">Delete</button>
        </div>
      </div>
    </div>
  </div>