<div class="h2 d-flex justify-content-center"> Area List </div>

<div *ngIf="isError" class="d-flex justify-content-center alert alert-danger">{{errorMsg}}</div>
<div>

<div *ngIf="infoMsg" class="d-flex justify-content-center alert alert-info">{{infoMsg}}</div>
<div>
    

<div *ngIf="!loading" class="d-flex flex-column justify-content-center">
    <table class="table table-info">
        <thead class="thead-dark">
          <th>Id</th>
          <th>Name</th>
          <th>Operations</th>
        </thead>
        <tbody>
            <tr *ngFor="let area of data">
            <td>{{area.id}}</td>
            <td>{{area.name}}</td>
            <td class="d-flex">
              <button class="btn btn-info mx-2 px-2" style="min-width: 60px;" [routerLink]="['/area-edit', area.id]">Edit</button>
              <button class="btn btn-info mx-2 px-2" (click)="onDelete(area)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>
    
<div *ngIf="loading" class="position-fixed h-100 w-100 d-flex justify-content-center align-items-center">
    <div class="spinner-border text-info">
</div>
