<div class="container">

<div class="row">
    <div class="col-md-6 form-group">
        <label for="#jurisdiction">Jurisdiction: </label>
        <select #jurisdiction class="form-control" [ngModel]="selectedJurisdiction" (ngModelChange)="regionChange($event)">
            <option *ngFor="let region of jurisdictions" value={{region.id}}>
                {{region.value}}
            </option>
        </select>
    </div>
    
    <div class="col-md-6 form-group">
        <label for="#type">Type: </label>
        <select #type class="form-control" [ngModel]="selectedRaceType" (ngModelChange)="raceTypeChange($event)">
            <option *ngFor="let raceType of raceTypes" [value]="raceType.id">
                      {{raceType.value}}
            </option>
        </select>
    </div>
</div>

<div class="row spinner-border text-primary" role="status" *ngIf="isLoadingResults">
  <span class="col-md-12 sr-only">Loading...</span>
 </div>

<div class="row alert alert-danger" *ngIf="errorLoadingResults">
  <span class="col-md-12">Error in loading data. Please contact administrator</span>
</div>

<div class="row">
    <table class="table">
        <thead>
              <tr>
                <th>Race Start</th>
                <th>Race Number</th>
                <th>Race Name</th>
                <th>Meeting Name</th>
                <th>Meeting Location</th>
                <th>Meeting Date</th>
              </tr>
          </thead>
          <tbody>
            <tr class="active" *ngFor="let race of filteredRaces">
              <td>{{race.StartTime | date: 'medium'}}</td>
              <td>{{race.Number}}</td>
              <td>{{race.Name}}</td>
              <td>{{race.MeetingName}}</td>
              <td>{{race.MeetingLocation}}</td>
              <td>{{race.MeetingDate | date}}</td>
            </tr>
          </tbody>
      </table>
</div>

</div>