<div class="content">
  <h3 class="heading">Vehicle Type</h3>

  <div class="create-car">
    <mat-form-field appearance="fill" class="vehicle-form-field">
      <mat-label>Create</mat-label>
      <select matNativeControl required [ngModel]="selectedVehicleType" (ngModelChange)="OnVehicleTypeChange($event)">
        <option *ngFor="let vehicleType of vehicleTypes" [value]="vehicleType">{{vehicleType}}</option>
      </select>
    </mat-form-field>
  </div>

</div>