<div class="spinner">
    <mat-spinner [diameter]="50" *ngIf="processing"></mat-spinner>
</div>

<table mat-table [dataSource]="cars" class="mat-elevation-z8">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

     <!-- Type Column -->
     <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>
  
    <!-- Make Column -->
    <ng-container matColumnDef="make">
      <th mat-header-cell *matHeaderCellDef> Make </th>
      <td mat-cell *matCellDef="let element"> {{element.make}} </td>
    </ng-container>
  
    <!-- Model Column -->
    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef> Model </th>
      <td mat-cell *matCellDef="let element"> {{element.model}} </td>
    </ng-container>
  
    <!-- Engine Column -->
    <ng-container matColumnDef="engine">
      <th mat-header-cell *matHeaderCellDef> Engine </th>
      <td mat-cell *matCellDef="let element"> {{element.engine}} </td>
    </ng-container>

     <!-- Doors Column -->
     <ng-container matColumnDef="doors">
        <th mat-header-cell *matHeaderCellDef> Doors </th>
        <td mat-cell *matCellDef="let element"> {{element.doors}} </td>
      </ng-container>

       <!-- Wheels Column -->
    <ng-container matColumnDef="wheels">
        <th mat-header-cell *matHeaderCellDef> Wheels </th>
        <td mat-cell *matCellDef="let element"> {{element.wheels}} </td>
      </ng-container>

       <!-- Body Type Column -->
    <ng-container matColumnDef="bodyType">
        <th mat-header-cell *matHeaderCellDef> Body Type </th>
        <td mat-cell *matCellDef="let element"> {{element.bodyType}} </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  
