<div>
    <form [formGroup]="carFieldsForm" class="car-fields">
        <mat-form-field appearance="outline">
            <mat-label>Engine</mat-label>
            <input matInput formControlName="engine" required />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Doors</mat-label>
            <input matInput formControlName="doors" required />
            <mat-error *ngIf="carFieldControls.doors.invalid">Doors must be numeric value</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Wheels</mat-label>
            <input matInput formControlName="wheels" required />
            <mat-error *ngIf="carFieldControls.wheels.invalid">Wheels must be numeric value</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Body Type</mat-label>
            <input matInput formControlName="bodyType" required />
        </mat-form-field>

    </form>
  
</div>
