<h1 mat-dialog-title>Confirm</h1>
<div mat-dialog-content>
    <mat-label>You will loose your changes. Do you wish to navigate away?</mat-label>
</div>
<div mat-dialog-actions class="buttons">
  <button mat-button (click)="onNo()" class="mat-raised-button no-btn">No</button>
  <button mat-button (click)="onYes()" class="mat-raised-button mat-accent yes-btn" cdkFocusInitial>Yes</button>
</div>

