.buttons {
    display: flex;
    justify-content: flex-end;
    & > .no-btn {
        background-color: #03A9F4;
        width: 60px;
    }

    & > .yes-btn {
        width: 60px;
    }
}